<html>

<head>
  <meta charset="utf-8">
  <title>UW IoT Lab3</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lab3.css') }}">
  <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/lab3.js') }}"></script>
</head>

<body>
  <div class="container panel">

    <!-- TOP WELL, With just the title -->
    <!-- The css file gives "well-sm" a margin of 3, both above and below -->
    <div class="container well well-sm">
      <h3 id='title'>Lab 3 GPIO Server Sent Events</h3>
    </div>

    <!-- BOTTOM WELL, Row1 = Switch, Rows 2,3,4 = buttons -->
    <div class="container well">

      <!-- FIRST 12 COLUMN ROW:
           sm2 (empty) +
           sm3 (<h4> gpio "Switch") +
           sm3 (<h4><span>id,class $#9759</span></h4>)
           sm2 (<h4> gpio "Switch") +
           sm2 (empty)
      -->
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <h4 class="gpio">Switch</h4>
        </div>
        <div class="col-sm-3 switch">
          <h4><span id="switch" class="label label-default">&#9759</span></h4>
        </div>
        <div class="col-sm-2">
          <h4 class="gpio">[GPIO27]</h4></div>
        <div class="col-sm-2"></div>
      </div>

      <!-- Second 12 COLUMN ROW:
           sm2 (empty) +
           sm3 (<button> button "red_led_btn") +
           sm3 (<h4><span>id,class $#9728</span></h4>)
           sm2 (<h4> gpio "[GPIO18]") +
           sm2 (empty)
      -->
      <!-- LED: RED -->
      <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-3 led_button">
          <button type='button' id="red_led_btn" class="btn btn-md btn-default">Toggle <span style="color:red">red</span> LED</button>
        </div>
        <div class="col-sm-3 led_label">
          <h4><span id="red_led_label" class="label label-default">&#9728</span></h4>
        </div>
        <div class="col-sm-2">
          <h4 class="gpio">[GPIO18]</h4></div>
        <div class="col-sm-2"></div>
      </div>

      <!-- Second 12 COLUMN ROW:
           sm2 (empty) +
           sm3 (<button> button "green_led_btn") +
           sm3 (<h4><span>id,class $#9728</span></h4>)
           sm2 (<h4> gpio "[GPIO13]") +
           sm2 (empty)
      -->
      <!-- LED: GREEN -->
      <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-3 led_button">
          <button type='button' id="grn_led_btn" class="btn btn-md btn-default">Toggle <span style="color:green">green</span> LED</button>
        </div>
        <div class="col-sm-3 led_label">
          <h4><span id="grn_led_label" class="label label-default">&#9728</span></h4>
        </div>
        <div class="col-sm-2">
          <h4 class="gpio">[GPIO13]</h4></div>
        <div class="col-sm-2"></div>
      </div>

      <!-- Second 12 COLUMN ROW:
           sm2 (empty) +
           sm3 (<button> button "blue_led_btn") +
           sm3 (<h4><span>id,class $#9728</span></h4>)
           sm2 (<h4> gpio "[GPIO23]") +
           sm2 (empty)
      -->
      <!-- LED: BLUE -->
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 led_button">
          <button type='button' id="blu_led_btn" class="btn btn-md btn-default">Toggle <span style="color:blue">blue</span> LED</button>
        </div>
        <div class="col-sm-3 led_label">
          <h4><span id="blu_led_label" class="label label-default">&#9728</span></h4>
        </div>
        <div class="col-sm-2">
          <h4 class="gpio">[GPIO23]</h4></div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var iotSource = new EventSource("{{ url_for('myData') }}");
    // intercept the incoming states from SSE
  </script>
</body>

</html>
